.search{
  margin-top: 5%;
}
.searchInputs {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.search input {
  background-color: white;
  border: 1px;
  border-radius: 50px;
  font-size: 18px;
  padding: 15px;
  height: 60px;
  width: 300px;
}

.icon{
  height: 60px;
  width: 100px;
  border-radius: 50px;
  background-color: white;
  display: grid;
  place-items: center;

}
.icon:hover{
  cursor: pointer;
}
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
}